<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omni-Wheel Robot Simulator</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #field {
            position: relative;
        }
        #canvas {
            width: 100%;
            height: 100%;
            background: url('/static/images/field.png') no-repeat center center;
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="mt-5">Omni-Wheel Robot Simulator</h1>
    <div class="row mt-3">
        <div class="col-md-6">
            <div id="field">
                <canvas id="canvas" width="1200" height="800" class="border border-secondary"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <form id="control-form">
                <div id="robot-controls"></div>
                <button type="submit" class="btn btn-primary">Move Robots</button>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/static/js/robot_controler.js"></script>
</body>
</html>
