<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omni-Wheel Robot Simulator</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #field {
            border: 1px solid black;
            position: relative;
            overflow: hidden;
        }
        #robot {
            width: 20px;
            height: 20px;
            background-color: red;
            position: absolute;
            transform-origin: center;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="mt-5">Omni-Wheel Robot Simulator</h1>
    <div class="row mt-3">
        <div class="col-md-6">
            <div id="field" class="w-100" style="height: 400px;">
                <div id="robot"></div>
            </div>
        </div>
        <div class="col-md-6">
            <form id="control-form">
                <div class="form-group">
                    <label for="speed1">Motor 1 Speed (mm/sec):</label>
                    <input type="number" class="form-control" id="speed1" required>
                </div>
                <div class="form-group">
                    <label for="speed2">Motor 2 Speed (mm/sec):</label>
                    <input type="number" class="form-control" id="speed2" required>
                </div>
                <div class="form-group">
                    <label for="speed3">Motor 3 Speed (mm/sec):</label>
                    <input type="number" class="form-control" id="speed3" required>
                </div>
                <div class="form-group">
                    <label for="time">Movement Time (sec):</label>
                    <input type="number" class="form-control" id="time" required>
                </div>
                <button type="submit" class="btn btn-primary">Move Robot</button>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/static/js/robot_controler.js"></script>
</body>
</html>
